<div class="pages_nav">
  <a id="logo" href="/"><%= cl_image_tag("CPF_logo_hq96ja",
      width: 40, height: 40, crop: :fill) %></a>
  <a href="/attractions">Attractions</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>
