.about-us {
  font-size: 40px;
  color: black;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px
}

.about-pic {
  border-radius: 6px;
  box-shadow: 0px 10px 30px black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 12px;
}

.about-center {
  text-align: center;
}

.bible1 {
  border-radius: 6px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 16px;
}

.bible2 {
  border-radius: 6px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 16px;
}
