@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
// Specific CSS for your home-page

*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.banner {
  // background-size: cover;
  // background-position: center;
  background: linear-gradient(to left, transparent, rgb(5, 5, 0));
  padding: 250px;
  box-shadow: 0px 5px 20px #999;
}

.banner h1 {
  color: #F4F4F4;
}


.card-behavior {
  padding: 40px 70px 40px 70px; /* marge */
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  min-height: 10vh; /* emplacement de la card */
  line-height: 1.6; /* + le chiffre augmente;+ les cards descendent*/
  background: #F4F4F4; /*couleur du background => à mettre ds le body */
  grid-row-gap: 40px;
  font-family: 'Roboto', sans-serif;
}


.card {
  color: #F4F4F4; /*couleur du text */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F4F4F4;
  width: 40ch;
  height: 50ch;
  border-radius: 30px;
  overflow: hidden;
  transition: transform 500ms ease;
  justify-content: space-around;
  margin: 0px 0px 0px 0px;
  box-shadow: 0px 5px 20px #999;

}


.card-body { // overflow
  flex: 1 1 auto;
  padding: 0.1rem;
  font-size: 18px;
}


.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 0.5rem;
  padding:var(--padding);

  background-image: linear-gradient(to top, transparent, rgba(1, 1, 0, 0.82)),

}

.card-title {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}

/*underline */
.card-title::after {
  content: "";
  position: absolute;
  height: 2px; // epaisseur underline
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  transform: scaleX(0);
  background: #7970fe;
  transform-origin: left;


}

/* lenght underline */
.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(0.5);
  transition: transform  500ms ease;
}

/* BUTTON*/
.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #F4F4F4;
  padding: 0.2em 1.25em;
  border-radius: 12px;
  transform-origin: left;

}

.button-attractions {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #F4F4F4;
  padding: 0.2em 1.25em;
  border-radius: 6px;

  background-color: #7970fe;
  box-shadow: 0 0 5px #7970fe, 0 0 25px #7970fe, 0 0 50px #7970fe, 0 0 200px #7970fe;

  font-size: x-large; /* essai, afin de mettre en valeur l'importance de ce bouton */
}

.button:hover,
.button:focus {
  background-color: #7970fe;
  box-shadow: 0 0 5px #7970fe, 0 0 25px #7970fe, 0 0 50px #7970fe, 0 0 200px #7970fe;
  transform-origin: left;
}


.text-center {
  padding: 40px 70px 40px 70px;

}


@media screen and (max-width: 1024px){
  .card .card-content .card-title {
    width: 80%;
	}
}

@media screen and (max-width: 768px){
  .card .card-content .card-title {
    width: 50%;
	}
	.wrapper .header{
    font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
  .card .card-content .card-title {
    width: 100%;
	}
	.wrapper .header{
    font-size: 14px;
	}
}


/*Glitch diff Browsers*/
@media (hover) {
  .card-content {
    transform: translateY(145%); /*Up and Down like a rollerCoaster */
    transition: transform  500ms ease;


  }

  /* fix glitch  => Firefox*/
  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;

  }

  /* fix glitch  => Firefox*/
  .card:focus-within .card-content {
    transition-duration: 500ms;

  }

  .card-content > *:not(.card-title) {
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title) {
    transition-delay: 1000ms;
  }

  .card-title::after{
    transform: scaleX(0);
  }
}
