@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
// Specific CSS for your home-page
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 250px ;
  margin: 20px 70px 20px 70px;
  border-radius: 30px;
}

x-sign:nth-of-type(8) {
  margin: 0;
  color: blue;
  --color1: blueviolet ;
  --color2: orange;
  --color3: brown;
  --color4: purple;
  /* color: #F4F4F4;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold; */
}

x-sign {
  --interval: 1s;
  display: block;
  font-weight: 32px ;
  text-shadow:
    10 0 10px var(--color1),
    10 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}



@keyframes flicker {
  50% {
    color: blue ;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

/* .banner h1:hover {
  color: #3ea5fa;
  text-shadow: 0 0 5px #3ea5fa, 0 0 25px #3ea5fa, 0 0 50px #3ea5fa, 0 0 200px #3ea5fa;
  font-weight: bolder;
} */


.card-behavior {
  padding: 40px 70px 40px 70px; /* marge */
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  min-height: 10vh; /* emplacement de la card */
  line-height: 1.6; /* + le chiffre augmente;+ les cards descendent*/
  background: #F4F4F4; /*couleur du background => à mettre ds le body */
  grid-row-gap: 40px;
  font-family: 'Roboto', sans-serif;
}


.card {
  color:rgb(3, 3, 3); /*couleur du text */
  background-size: contain;
  background-position: center top ;
  background-repeat: no-repeat;
  background-color: #F4F4F4;
  width: 40ch;
  height: 50ch;
  border-radius: 30px;
  overflow: hidden;
  transition: transform 500ms ease;
  justify-content: space-around;
  margin: 0px 0px 0px 0px;
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0px 5px 20px #999;
}



.card:hover,
.card:focus-within {
  transform: scale(1.05);
	filter: grayscale(0);

}

.card-content {
  --padding: 0.5rem;
  padding:var(--padding);
  background: linear-gradient( transparent,rgba(17, 16, 16, 0.615));

}

.card-title {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

/*underline */
.card-title::after {
  content: "";
  position: absolute;
  height: 1.5px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background:#3ea5fa;
  transform: scaleX(0);
  transform-origin: center;

}

/* lenght underline */
.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

/* BUTTON*/
.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 0.2em 1.25em;
  border-radius: 0.25rem;
  transform-origin: center;
}

.button:hover,
.button:focus {
  background-color: #3ea5fa;
  box-shadow: 0 0 5px #3ea5fa, 0 0 25px #3ea5fa, 0 0 50px #3ea5fa, 0 0 200px #3ea5fa;
  transform-origin: left;
}

.text-center {
  padding: 40px 70px 40px 70px;
}


@media screen and (max-width: 1024px){
  .card .card-content .card-title {
    width: 33%;
	}
}

@media screen and (max-width: 768px){
  .card .card-content .card-title {
    width: 50%;
	}
	.wrapper .header{
    font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
  .card .card-content .card-title {
    width: 100%;
	}
	.wrapper .header{
    font-size: 14px;
	}
}


/*Glitch diff Browsers*/
@media (hover) {
  .card-content {
    transform: translateY(180%); /*Up and Down like a rollerCoaster */
    transition: transform  500ms ease;

  }

  /* fix glitch  => Firefox*/
  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;

  }

  /* fix glitch  => Firefox*/
  .card:focus-within .card-content {
    transition-duration: 0ms;

  }

  .card-content > *:not(.card-title) {
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title) {
    transition-delay: 1000ms;
  }

  .card-title::after{
    transform: scaleX(0);
  }
}
