@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.button-show{
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #F4F4F4;
  padding: 0.2em 1.25em;
  border-radius: 12px;

  background-color: black;
}

