
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1530104091755-015d31dfa0b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1909&q=80);">
      <div class="container">
        <h1><strong>Crazy Party Stuff</strong> ! 🥳 </h1>
      </div>
    </div>

  <div class="card-behavior">
    <% @attractions.each do |attraction| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(attraction.photo.key) %>);">
        <div class="card-content">
          <h3 class="card-title"><%= attraction.name %></h3>
          <p class="card-body"><%= attraction.one_liner %></p>
          <%= link_to "Learn More...", attraction_path(attraction), class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>

<div class="text-center">
  <a href="./attractions" class="btn btn-primary">Voir toutes les attractions</a>
</div>
