.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  padding: 0px 50px;
  color: black;
  margin-top: 32px
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: black;
}

.footer-copyright {
  font-size: medium;
  font-weight: bold;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 90),
    0 0 82px rgb(255, 0, 90),
    0 0 92px rgb(255, 0, 90),
    0 0 102px rgb(255, 0, 90),
    0 0 151px rgb(255, 0, 90);
  color: rgb(205, 45, 100);
  margin-top: 8px
}
