.container-messages {
  width: 70vw;
  margin: 0 auto;
}

.item-message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.content .message-date {
  font-size: 10px;
}

.send-message-button {
  margin: 4px 0;
}
