.attractitle {
  font-size: 40px;
  color: black;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px
}

.book {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.date {
  color: black;
  align-items: center;
  font-size: 20px;
}

.attracname {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.attracpic {
  border-radius: 6px;
  box-shadow: 0px 10px 30px black;
}

.cost {
  font-size: 20px;
}

.pb {
  font-size: 20px;
  padding: 12px;
  margin-left: 32px;
  font-weight: lighter;
  color: rgb(83, 83, 83);
  font-family: 'Roboto', sans-serif;
}
